In [1]:
import numpy as np
import pandas as pd
from sklearn.compose import ColumnTransformer

In [4]:
df1 = pd.read_csv('D:\ML_Practise\Machine-Learning\Column Transformer\covid_toy.csv')
df1.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

As we can see above that the cols gender,cough,city,has_covid are categorical cols on which we have to use encoding techniques like one hot encoding and ordinal encoding.

In [6]:
df1.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

as we can see that there are null values in fever so we have to use simple imputer to impute the col with values

In [7]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder